@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chathura:wght@100;300;400;700;800&family=Ojuju:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Anybody:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chathura:wght@100;300;400;700;800&family=Ojuju:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Anybody:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chathura:wght@100;300;400;700;800&family=Handlee&family=Ojuju:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');

%container{
    max-width: 900px;
    width: 100%;
    padding: 20px;

}

body{
    background-color: burlywood;
}

.title-1{
    font-size: 45px;
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 44px;
    font-family: "Handlee", cursive;
}

.subtitle{
    background: #fcdeb0;
    color: #000;
    @extend %container;
    font-family: "Anybody", sans-serif;
    border-radius: 10px;
    

}


.header-menu{
    background: #fcdeb0;
    color: #000000;
    border-radius: 10px;
    margin: 20px 0;
    @extend %container;
    padding: 20px 40px;

    & > * + *{
        margin-left: 30px;
    }
}

.main {
    background: #fcdeb0;
    border-radius: 5px;
    @extend %container;
}

.footer{
    @extend %container;
    background: #866143;
    color: #fff;
    border-radius: 5px;
}