* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg,
video {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

a {
    color: inherit;
}

@media (min-width: 1200px) {
    ._title-1_g47aa_14 {
        text-align: center;
    }


    ._header-menu_g47aa_4 {
        margin-left: 200px;
        gap: 50px;
        display: flex;
        padding-left: 220px;
    }
    
    ._main_g47aa_4, ._footer_g47aa_4,  ._subtitle_g47aa_4 {
        margin-left: 200px;
    }


}
@media (min-width: 1300px) {
    ._title-1_g47aa_14 {
        text-align: center;
    }


    ._header-menu_g47aa_4 {
        margin-left: 500px;
        gap: 100px;
        display: flex;
        padding-left: 120px;
    }
    
    ._main_g47aa_4, ._footer_g47aa_4,  ._subtitle_g47aa_4 {
        margin-left: 500px;
    }


}